

@keyframes levitate {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.leftHand {
    transform: translatey(0px);
	animation: levitate 6s ease-in-out infinite;
    z-index: 1000;
    position: relative;
    bottom: 200px;
    left: -80px;
}

.rightHand {
    transform: translatey(0px);
	animation: levitate 6s ease-in infinite;
    z-index: 1000;
    position: relative;
    right: -30px;
}